@import url('http://fonts.cdnfonts.com/css/beckman');
.Services_page {
  background-color: #000;
  font-family: "Beckman", sans-serif !important;
  margin-top: -5rem !important;
}

.Services--banner {
  padding-top: 7rem;
  width: 95%;
  margin: auto;
}
.Services--banner img {
  width: 100%;
  height: 100%;
  background-position:  center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  margin: auto;
}
.Services--banner h1 {
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 15px;
  top: 30%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.Services {
  color: #fff;
  margin: auto;
  text-align: center;
  width: 90%;
  text-transform: uppercase;
}
.Services_content--h1 {
  padding-top: 4rem;
  padding-bottom: 15rem;
}

.Services h1 {
  font-size: 2rem;
  margin: 2rem;
  font-weight: bold;
}
.Services p {
  margin: auto;
  width: 50%;
  padding-bottom: 2rem;
}
@media screen and (max-width: 392px){
  .Services--banner h1{
    font-size: 1rem !important;
    margin-top: -1rem;
  }
}
@media screen and (max-width: 768px) {
  .Services--banner {
    margin-top: -5rem;
    height: auto !important;
  }
  .Services--banner img {
    height: auto;
    margin-top: 1rem;
  }
  .Services {
    width: 100%;
    padding: 1rem;
  }
  .Services p {
    width: 100%;
  }
  .Services h1 {
    font-size: 1.3rem;
  }
  .Services p {
    font-size: 1rem;
  }
  .Services--banner h1 {
    padding-top: 0rem;
    top: 20% !important;
    font-size: 1rem;
  }
  .Services_content--h1{
    padding-bottom: 0;
    padding-top: 0;
  }
}
@media screen and (max-width: 968px){
  .Services--banner h1{
    font-size: 1rem;
    top:20%;
  }
}
@media screen and (max-width: 1024px){
  .Services--banner h1{
    font-size: 1rem;
    top:20%;
  }
}
@media screen and (max-width: 1224px){
  .Services--banner h1{
    font-size: 1.5rem;
    top:23%;
  }
}