.Contact_page {
  margin-top: -5rem;
  font-family: helvetica !important ;
  height: 100%;
}
.Contact_content {
  position: absolute;
  color: #fff !important;
  background-image: url("../../../components/images/thema.jpg");

  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  object-fit: cover;
}
.Contact_content:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(7, 7, 7, 0.589);
}
.contact_info p{
  font-family: helvetica !important;
  position: relative;
}
.content {
  margin-top: 15%;
}
.form-control {
  background: transparent !important;
  color: #fff !important;
}
.form-control placeholder {
  color: #fff !important;
}
::placeholder {
  color: #fff !important;
  font-weight: bold;
  text-transform: uppercase;
}
input {
  border-radius: 15rem;
}
.contact_info {
  margin: auto;
  text-align: end;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 4rem;
}
.mb-3 input {
  width: 50% !important;
  border-radius: 15px;
}
.mb-3 textarea {
  border-radius: 15px !important;
  width: 70%;
}
form{
  position: absolute; 
  width: 50%;
}
@media screen and (max-width: 768px) {
  .div_contact--info {
    margin: auto;
    padding-top: 3rem;
  }
  .input-monet {
    padding-bottom: 2rem !important;
  }
  .contact_info {
    padding-top: 0;
    text-align: start;
    width: auto !important;
  }
  .mb-3 input {
    width: 100% !important;
  }
  form{
    position: absolute; 
    width: 90%;
  }
  .mb-3 textarea{
    width: 100%;
  }
  .button-send{
    width: 100% !important;
  }
}
