@import url('http://fonts.cdnfonts.com/css/beckman');

.About_page {
  background-color: #000;
  color: #fff;
  margin-top: -5rem !important;
  font-family: "Beckman", sans-serif !important;
}

.About_content--banner {
  padding-top: 8rem;
  width: 95%;
  height: 100%;
  margin: auto;
}
.About_content--banner h1 {
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 15px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.About_content img {
  width: 100%;
  height: 100%;
  background-position:  center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: revert;
  margin: auto;
}
.About_content--p {
  display: flex;
  padding: 8rem;
  padding-bottom: 15rem;
  
}

.About_content--text {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.About_content--text h1 {
  text-align: center;
  padding-bottom: 2rem;
  font-weight: bold;
}
.About_content--text p {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .About_content--p {
    display: inline;
    padding: 0rem;
  }
  .About_content--banner {
    height: auto !important;
  }
  .About_content--banner img{
    height: auto ;
  }
  .About_content--banner img {
    height: auto;
    padding-bottom: 3rem;
  }
  .About_content--img {
    margin: auto;
    width: auto;
  }
  .About_content--img img {
    height: auto;
    width: 100%;
  }
  .About_content--text {
    width: 100%;
    padding: 0 1rem 3rem;
  }
  .About_content--text h1 {
    margin-top: 2rem;
    font-size: 1rem;
  }
  .About_content--banner h1{
    top:25% !important;
    font-size: 1rem;
  }
  .About_content--text p {
    width: 100%;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 1024px){
  .About_content--banner h1{
    top:28%
  }
}
@media screen and (max-width: 1026px){
  .About_content--banner h1{
    top:27%
  }
}
@media screen and (max-width: 1092px){
  .About_content--banner h1{
    top:29%
  }
}
@media screen and (max-width: 1452px){
  .About_content--banner h1{
    top:33%
  }
}