@import "~video-react/dist/video-react.css";


.Home_page {
  height: 100vh !important;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -5rem;
  background-color: #000;
}

.HeroSecttion {
  width: 100%;

  position: relative;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
.HeroSecttion video {
  background-repeat: no-repeat;
  background-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  margin-top: -5rem;
  position: relative;
}
.player {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.home_footer {
  display: none;
}
@media screen and (max-width: 768px) {
  .HeroSecttion {
    height: 50vh;
    margin-top: 0rem;
    background-color: #000;
    margin-top: -5rem;
  }
  .HeroSecttion video {
    margin-top: 5rem;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .home_footer {
    position: absolute;
    display: inline;
    width: 100%;
  }

  
}
