.Work_page {
  background-color: #000 !important;
  margin-top: -5rem !important;
  width: 100%;
}
.loader{
  align-items: center;
  margin: auto !important;
  text-align: center !important;
  background: #000 !important;
  width: 100%;
}
.Work_page--content {
  width: 95%;
  margin: auto;
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.row_work {
  padding-top: 2.5rem;
}
.card_thub {
  padding-top: 1.5rem;
  position: relative;
  overflow: hidden;
}

.card_thub:hover .overlay {
  opacity: 1;
  transition: .5s ease;
  width: 100%;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.671);
  width: 100%;
  height: 100%;
  top: 0;
  margin: auto;
  opacity: 0;
  transition: .8s ease;
  text-transform: uppercase;
}


.overlay span {
  position: absolute;
  border-bottom: 1px solid #fff;
  padding: 0.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.3em;
  color: #fff;
   font-family: 'Beckman', sans-serif;
}

.overlay p {
  position: absolute;
  font-size: 1.5rem !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  opacity: 1;
  font-family: 'Beckman', sans-serif;
}

.vjs-poster{
  background-size: cover !important;
}
.Works_page {
  background-color: #000 !important;
  margin-top: -8rem !important;
  width: 100%;
}
.Works_page--contnet {
  width: 95%;
  margin: auto;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.row_works {
  padding-top: 10rem;

}
.react-player{
  width: auto !important;
  height: 70vh !important;
}
video {
  width: 100% !important;
}
.row_works video {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  width: 100%;
}
.workscreen_img {
  padding-top: 1.3rem !important;
}
.workscreen_img img {
  width: 100%;
}
.works_video {
  width: 100%;
  height: 100%;
  margin: auto;
}
.works_conent--p {
  padding-top: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;
}
.works_conent--p p {
  margin: 0;
  font-size: 1rem;
}
.works_conent--right {
  text-align: end;
}
.hero_frames {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: #fff;
  padding: 2rem;
}
.hero_frames P {
  color: #000;
}
.row_work p {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 5rem;
}
.react-multi-carousel-item {
  padding: 1rem;
  margin: auto;
}

.react-multi-carousel-item:hover{
  transform: translate(0px, 0px) rotate(0deg) scale(1.05);
  padding: 0rem !important;
  transition: .9s ease
}
.react-multiple-carousel__arrow{
  background-color: #fff !important;
  color: #000 !important;
}
.react-multiple-carousel__arrow--left::before{
  color: #000 !important;
}
.react-multiple-carousel__arrow--right::before{
  color: #000 !important;
}
.react-multiple-carousel__arrow:hover{
  transform: translate(0px, 0px) rotate(0deg) scale(1.5);
  padding: 0rem !important;
  transition: .13s ease;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .hero_frames {
    font-size: 0.8rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .works_conent--p p {
    font-size: 0.8rem;
  }
  .works_conent--p {
    display: inline;
  }
  .overlay span {
    font-size: 0.6rem !important;
    border-bottom:none;
    padding: 0;
  }
  .overlay p{
    font-size: 0.6rem !important;
  }
}
@media screen and (max-width:1524px) {
  .overlay span  {
    font-size:1rem !important;
    padding: 0.5rem !important;
  }
  .overlay p{
    font-size: 1rem !important;
    color: #fff !important;
  }
}