@import url("http://fonts.cdnfonts.com/css/beckman");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.loader {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
  position: fixed;
  background: rgb(0, 0, 0) !important;
  opacity: 1;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
}
body {
  font-family: "Beckman", sans-serif;
 
}

