.navbar {
  background-color: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: "Beckman", sans-serif;
}
.navbar2 {
  background: #000;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: "Beckman", sans-serif;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 1.8rem;
}

.nav-logo {
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  flex-grow: 1;

}
.nav-logo img {
  max-width: 12rem;
}
.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
}

.nav-links {
  color: #fff;
  text-decoration: none;
 
  height: 100%;
  font-weight: bold;
  border-bottom: 3px solid transparent;
}
.nav-links:hover {
  color: #fff !important;
  border-bottom: 2px solid #fff !important;
  width: 50% !important;
  margin: auto;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}


.nav-item:hover:after {
  width: 100%;
  background:#fff;
}
.selected{
  border-bottom: 2px solid #fff;
}

.nav-item .active::before {
  transform: translateX(-50%);
  border-radius: 100%;
  position: relative;
  background: #fff;
  bottom: 10px;
  height: 6px;
  content: "";
  width: 6px;
  left: 60%;
  bottom: -0.1em;
}
.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    border-top: 1pxsolid #fff;
    align-items: center;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    background-color: #000;
  }
  .nav-item .active {
    color: #fff;
    border: none;
  }
  .nav-links {
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
  .nav-logo {
    margin-left: 0px;
  }
}
